<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<title>Captcha Harvester</title>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- CSS -->
<link rel="stylesheet" href="/css/main.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>
